.texto-principal .container {
  width: 50%;
}

.container {
  margin-left: 10%;
}

.texto-principal {
  font-size: 16px;
  background-color: rgb(35, 44, 39);
  height: 300px;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.descricao {
  color: blanchedalmond;
}
.titulo {
  color: blanchedalmond;
}

.texto-principal .descricao {
  margin-top: 10px;
  margin-bottom: 40px;
}

.texto-principal .titulo {
  margin-top: 15%;
  font-size: 40px;
  font-family: "Trebuchet MS", Arial, sans-serif;
}
